.login-container {
    display: flex;
    justify-content: center;
    
}

.login-card {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border: 10px solid #A4A4A4;
    border-radius: 10px;
}

.login-data {
    display: flex;
    flex-direction: column;
    
}

